@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


:root {
--background-light: #f8fafc;
--text-light: #525252;   
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
margin-bottom: 8px;     

}
body {
background-color: var(--background-light);
font-family: 'Rubik', sans-serif;
}

.page-grid {
   
display: grid;
grid-template: max-content minmax(100vh, 1fr) / max-content minmax(600px, 1fr);
gap: 20px;


}

.sidebar .bar-divider {
background-color: rgb(77, 74, 74);    
width: 100%;
height: 1px;    
}

.sidebar a {
    
text-decoration: none;
color: var(--text-light);
background-size: 20px 20px;
background-position: left;
background-repeat: no-repeat;
padding-left: 30px;
font-family: 'Rubik', sans-serif;
font-size: 18px;
}

.sidebar a:hover {
color: #0369a1;
}
    

.sidebar {
background-color: #ffedd5;    
grid-row: 1 / 3 ;
grid-auto-rows: max-content;
display: grid;
row-gap: 25px;
padding: 30px;
}

#dash-title {
background-image: url(/imgs/dashboard.png);
background-size: 28px 28px;
background-position: left;
background-repeat: no-repeat;

padding-left: 35px;
font-size: 22px; 
font-weight: 400;
}

#dashboard {
background-image: url(/imgs/dashboard.png);
}
#home {
background-image: url(/imgs/home.png);
}
#profile {
background-image: url(/imgs/profile.png);
}
#messages {
background-image: url(/imgs/messages.png);
}
#tasks {
background-image: url(/imgs/tasks.png);
}
#communities {
background-image: url(/imgs/communities.png);
}
#settings {
background-image: url(/imgs/settings2.png);
}
#support {
background-image: url(/imgs/support.png);
}
#privacy {
background-image: url(/imgs/privacy.png);
}

.topnav {
grid-column: 2 / 4 ;
grid-row: 1 / 2;
display: grid;
grid-template-columns: 1fr max-content;
background-color: #ffffff;
padding: 15px 20px;    
border-radius: 8px;
box-shadow: 0px 2px 5px rgb(0 0 0 / 8%);
margin: 20px 20px 20px 0px;
}

.navlink {
display: flex;
list-style-type: none;
gap: 20px;
align-items: center;   
}

.navlink a {
text-decoration: none;
color: #6b7280;    
}

.navlink a:hover {
color: #86efac;
}


.navright {
display: flex;
align-items: center;
gap: 15px;
}

.navright .bar-divider {
background-color: #e2e8f0;    
width: 1px;
height: 100%;        
}

.alert {
background-image: url(/imgs/alert.png);
background-size: 25px 25px;   
background-repeat: no-repeat;
background-position: center; 
height: 40px;
width: 40px;
}

.avatar {
color: #6b7280;
}

.avatar-icon {
background-image: url(/imgs/avatar.png);
background-size: 40px 40px;
background-repeat: no-repeat;   
background-position: center;
height: 40px;
width: 40px;

}

input, input:focus, input:not(:placeholder-shown) {
border: none;
outline: none;
border-radius: 20px;
font-size: 16px;
transition: 0.3s;
padding: 10px 20px;
width: 280px;
height: 40px;
background-color: var(--background-light);
 
}
input:not(:focus):placeholder-shown {
border: none;
border-radius: 20px;
height: 40px;
width: 40px;
background-image: url(/imgs/search.png);
background-repeat: no-repeat;
background-size: 20px 20px;
background-position: 10px center;
}

.maincontent {
display: grid;    
grid-template-columns: 1fr 300px;
grid-row: 2 / 3;
gap: 20px;   
}

.project {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
grid-auto-rows: max-content;
gap: 12px;   
}

.project-title, .news-title {
color: #525252;    
font-size: 24px;
margin: 20px;
grid-column: 1 / -1;    
}

.project-card {
display: grid;
grid-template-rows: max-content 1fr max-content;
gap: 10px;
background-color: white;
padding: 30px;
   
}

.project-card h3 {

}

.card-img {
background-image: url(/imgs/card-bg1.jpg);
background-repeat: no-repeat;
margin-bottom: 10px;
border-radius: 5px;
height: 120px;
background-size: cover;
background-position: center;
}

.card-tab {
margin-top: 10px;
gap: 15px;    
display: flex;
justify-content: right;    
}

.card-icon {
height: 20px;
width: 20px;
background-size: 20px 20px;
background-position: center;
background-repeat: no-repeat;

}

.star {

background-image: url(/imgs/star.png);

}

.view {

background-image: url(/imgs/view.png);

}

.share {
background-image: url(/imgs/share.png);
}